.container {
  height: 80vh;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #F4F6F4 ;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 50px;
  margin-bottom: 16px;
}
