.mainContainer {
  background-color: brown;

  height: 85vh;
}

.cardContainerLine {
  background-color: aqua;
  display: flex;
  gap: 25px;
}

.cardContainer {
  padding: 10px;

}


.cardContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 180px;
  align-items: center;
}

.listContainer {
  background-color: blue;
}

.icon {
    height: 100px;
    color:#FF0A1B;
}

.number{
    color:#FF0A1B;
}
