.mainContainer {
  height: 85vh;
}

.cardContainerLine {
  display: flex;
  gap: 25px;
}

.cardContainer {
  padding: 10px;
}

.containerText{
    display: flex;
    flex-direction: row;
    gap: 40%;
}

.cardContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 150px;
  align-items: center;
}

.listContainer {
  margin-top: 1em;
}

.icon {
  height: 100px;
  color: #ff0a1b;
}

.number {
  color: #ff0a1b;
}

.containerText {
  width: 50%;
}
