.header {
  background-color: #0f0f0f;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 10vh;
  position: absolute;
  left: 0;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url(/weight2.jpg);
}
